
<div>
	<h1 class="text-h-sub"> Bưu chính chuyển phát </h1>
		
	<div class="row">
		<div class="col-md-6">
			<a title=" Bưu phẩm bưu kiện">Bưu phẩm bưu kiện
			
			  <%= image_tag("bpbk.jpg", :alt => "Bưu phẩm bưu kiện", :class =>"image" ) %>  
			 </a>
		</div>
		<div class="col-md-6">
			<a title=" Chuyển phát nhanh">Chuyển phát nhanh
			 <%= image_tag("cpn.png", :alt => "Bưu phẩm bưu kiện", :class =>"image") %> 
			 </a>
		</div>
	</div>
		
	<div class="row">
		<div class="col-md-6">
			
			<a title=" Chuyển phát ủy thác">Chuyển phát ủy thác
			 <%= image_tag("cput.jpg", :alt => "Chuyển phát ủy thác",:class =>"image") %> 
			 </a>
		</div>
		<div class="col-md-6">
				<a title=" Chuyển phát ủy thác">Bưu phẩm đảm bảo
				 <%= image_tag("bpdb.jpg", :alt => "Bưu phẩm đảm bảo", :class =>"image") %> 
				 </a>
			</div>

	</div>
</div>
	
<!-- </div>

</div>


<div class="colum-right">
	<div class="head-tab">
		<section class="tabs">
		<input id="tab-1" type="radio" name="radio-set class">
			<label for='tab-1' class="tab-label-1">
				Hỗ trợ</label>
			<label></label>
		</section>
	</div>
	
</div> -->