
<header>
<h3>Thêm ghi chú</h3>
</header>
<%= simple_form_for [hanghoa, comment] do |f| %>
<%= f.input :text %>
<%= f.association :state %>
<%= f.submit class: "btn btn-primary" %>
<% end %>
<!-- <select class="select optional form-control" name="comment[state_id]"
id="comment_state_id">
<option value="1" selected="selected">New</option>
<option value="2">Open</option>
<option value="3">Closed</option>
</select> -->