<h3>Biểu đồ</h3>
<!-- <div id="chartContainer"><%= @chart %></div> -->
<div id="chart-container"></div>
<%= @chart.render() %>
<div id="chartContainer">FusionCharts XT will load here!</div>
<div class="col-md-5 text-center">

<div class="col-xs-12">
 <a class="block panel padder-v bg-info item">
<span class= "block panel padder-v bg-info item"><%=  @Tongvandonphatthanhcong %></span>
<span class="text-muted text-xs"> Tổng vận đơn phát thành công</span>
<span class="top text-left"></span>
</a>
<%=  @hanghoas %>
</div>
</div>