<h3>My Chart</h3>
<div id="chartContainer"><%= @chart.render() %></div>
<div class="col-md-5 text-center">

<div class="col-xs-12">
 <a class="block panel padder-v bg-info item">
<span class= "block panel padder-v bg-info item"><%=  @Tongvandonphatthanhcong %></span>
<span class="text-muted text-xs"> Tổng vận đơn phát thành công</span>
<span class="top text-left"></span>
</a>
</div>
</div>